.footer_links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer_links a {
  text-decoration: none;
  font-size: 16px;
}
.component7_container {
  display: flex;
  color: white;
  margin-top: 10px;
  background-color: black;
  border: 2px solid black;
  justify-content: space-around;
}

.C7icons {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}
