.component_container {
  height: 300px;
  gap:39px;
  background-color: rgb(229, 239, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 181px;
  font-size: 18px;
  font-weight: 501;
  height: 181px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
}
